[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "0.8.1"
redis = "5.0.1"
pytreemap = "0.5.1"
asynctest = "0.13.0"

[dev-packages]

[requires]
python_version = "3.9"
